body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
h1, h2 {
    font-weight: normal;
}

input, select {
    font-size: 100%;
}
th, td { vertical-align: baseline; text-align: left; }

div.infobar { margin: 5px; }
div.menubar input,
div.menubar select {
    margin-right: .25rem;
}


div#surface {
    display: flex;
    font-size: 120%;
    min-height: 3.5ex;
    margin: 5px;
    margin-top: 1.5rem;
    padding: .5rem .75rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    align-items: center;
}

div#surface .word {
    margin-right: .3rem;
}
div#surface .word.editable {
    cursor: pointer;
    border-bottom: 1px dotted #aaa;
}
div#surface .word.editable:hover {
    color: #dc3545;
}
div#surface input[type=text] {
    border: 1px solid #ddd;
    width: 5rem;
    padding: .3rem .3rem;
    margin-left: .2rem;
    background: #fff;
    border-radius: 0.25rem;
}

div#words {
    font-size: 110%;
    margin: .5rem .5rem 1.25rem .5rem;
}

div#words input[type=button] {
    font-size: 100%;
    color: #dc3545;
    background: none;
    border: none;
    cursor: pointer;
    padding: .25rem .5rem;
    margin: 0 .25rem .25rem 0;
    border-radius: .25rem;
}

div#words input[type=button]:focus, 
div#words input[type=button]:hover {
    background-color: #dc3545;
    color: white;
}

/* div.word, span.word, div#words div, div#words input[type=button], div#surface input[type=button] {
    display: inline-block;
    font-family: sans-serif;
    font-size: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
div#surface span.editable, div#surface input[type=button] {
    color: blue;
    border-color: blue;
    box-shadow: 2px 2px 4px rgba(0,0,255,0.5);
    cursor: pointer;
} */


.invalid { color: red; }

div.modtime { float: right; }
.modtime { color: #666; white-space: nowrap; }

ul.space>li { margin-top: 0.75ex; }

div#saldospel input[type=button] { font-size: 100%; }

div#saldospel input.correct { color: green; }
div#saldospel input.incorrect { color: red; }

.feedback textarea { width: 95%; }

span.field { background-color: #eee; }

pre.feedbacklist { background: white }

img.button { padding: 1px; }

div.brackets {
    margin: 5px;
}

span.brackets {
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 0;
    /*border: 1px solid black;*/
    padding: 2px 3px;
}

div.brackets .token {
  padding: 0 0.5ex;
}

div.browse, table.browse td {
    background: white;
    padding: 2px;
}

table.lintable { display: inline-table; border-collapse: collapse; }
table.lintable td { border: 1px solid black; padding: 2px; }
